<p id="notice"><%= notice %></p>

<h1>Instances</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Port</th>
      <th>Identity</th>
      <th>Cid</th>
      <th>Name</th>
      <th>Password</th>
      <th>Autostart</th>
      <th>Running</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.host %></td>
        <td><%= instance.port %></td>
        <td><%= instance.identity %></td>
        <td><%= instance.cid %></td>
        <td><%= instance.name %></td>
        <td><%= instance.password %></td>
        <td><%= instance.autostart %></td>
        <td><%= instance.running %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance', new_instance_path %>
